# --- Research ---
/Research/*
!/Research/C2S_Research.tex

# --- Report ---
/Report/*
!/Report/main.tex
!/Report/style.sty
!/Report/Chapters/
!/Report/Ref/

# --- Software (C2Sv0.1 and C2Sv1) ---
/Software/C2Sv[01]*/*
!/Software/C2Sv[01]*/.cproject
!/Software/C2Sv[01]*/.mxproject
!/Software/C2Sv[01]*/.project
!/Software/C2Sv[01]*/C2Sv[01]*.ioc
!/Software/C2Sv[01]*/STM32U5G9ZJTXQ_*.ld

# Drivers
!/Software/C2Sv[01]*/Drivers/
/Software/C2Sv[01]*/Drivers/*
!/Software/C2Sv[01]*/Drivers/Custom/

# Core / Source
!/Software/C2Sv[01]*/Core/
/Software/C2Sv[01]*/Core/*
!/Software/C2Sv[01]*/Core/Inc/main.h
!/Software/C2Sv[01]*/Core/Src/main.c
!/Software/C2Sv[01]*/Core/Src/syscalls.c
!/Software/C2Sv[01]*/Core/Src/sysmem.c
!/Software/C2Sv[01]*/Core/Startup/startup_stm32u5g9zjtxq.[sS]